body{
    background-color: #4d4747; /*Fondo de color azul palido*/
}

.background-white{
    background-color: #FFFFFF; /*Fondo de color blanco*/
}

.flex{
    display: flex; /*Para poner flex a diferentes etiquetas*/
}

.column{ /*Para poner el flex en columna*/
    flex-direction: column;
}

.content-center{
    justify-content: center; /*Para poner los dives u otros elementos en el centro*/
}

.align-center{
    align-items: center; /*Para poner los elementos al centro*/
}

main, header{
    width: 43.11125rem;
} 

.text-start{ /*Poner el texto al principio*/
    text-align: start;
}

.flex-wrap{
    flex-wrap: wrap;
}

h1{  /*Unico titulo, le pones fuente de familia similar i un tamaño parecido*/
    font-size: 5rem;
    font-family: sans-serif;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1.3rem;
    margin-top: 1.5rem;
} 

h2{ /*Para todos los subtitulos*/
    color: #FFFFFF; /*Color de texto*/
    background-color: #6081a3; /*Fondo de color al h2*/
    text-align: start; /*Alinear el texto al principio y no al medio*/
    font-size: 0.8rem; /*Poner un tamaño de fuente*/
    font-weight: normal;/*Que no tenga tamaño / bold*/
    font-family: sans-serif; /*Fuente de familia parecida al del formulario del papel*/
    padding: 0.4rem; /*Espacio interior*/
    padding-right: 25rem; /*Para espaciar el h2*/
    width: 11rem; /*Tamaño maximo del h2*/
    margin-top: 1.8rem;
}

.clearblue{ /*Un fondo azul para el formulario*/
    background-color: #DDEEFF;
    padding: 0 3.35rem; /*Padding para que el fondo se vea igual que el titulo*/
}

label, p{ /*Los labels tienen familia i un tamaño pequeño igual que la imagen i el p.*/
    font-family: sans-serif;
    font-size: 0.7rem; 
}

.form-width{ /*Para poner un tamaño al form*/
    width: 35rem;
}

.form-margin{ /*Para poner margenes entre divs*/
    margin: 0.4rem;
}

.gap{ /*Para hacer una separación entre divs con flex*/
    gap: 0.4rem;
}

.border{ /*Para poner un borde del color del formulario i el fondo*/
    border: 1px solid #52b4e2;
    background-color: #FFFFFF;
}

.margin{ /*Para poner margenes horizontalmente a los divs*/
    margin: 0 1.4rem;
}

.padding-right{
    padding-right: 0.4rem; /*Para poner un espacio interior a la derecha*/
}

caption{ /*Titulo de la tabla con su fuente, tamaño y tamaño del width*/
    font-family: sans-serif;
    font-size: 0.7rem;
    width: 17.8rem;
    padding: 1rem;
}

table, td, th, tr{
    border: 1px solid #52b4e2; /*Borde de la tabla, td i de mas*/
    font-family: sans-serif; /*Fuente del texto*/
    font-weight: normal; /*Que no tenga como formato bold*/
    font-size: 0.7rem; /*Tamaño de la letra*/
    background-color: #FFFFFF; /*Fondo blanco*/
}

table{
    border-collapse: collapse; /*Para que se vea como una tabla basica*/
    margin-left: 0.8rem; /*Para centrarlo */
}

th, td{
    padding: 0.4rem 1.123rem; /*Agrandar por dentro la tabla*/
}

.padding-bottom{ /*Le ponemos un espacio interior para que cree mas fondo hacia abajo de color azul*/
    padding-bottom: 4rem;
}

.color-blue{ /*Para cambiar el color como el de las lineas*/
    color: #52b4e2;
    width: 21rem;
}

.input-border{ /*Para poner el borde de color azul*/
    border: 1px solid #52b4e2;
}