body{
    background-color: #FFFFFF; /*Fondo de color azul palido*/
}

.flex{
    display: flex; /*Para poner flex a diferentes etiquetas*/
}

.column{ /*Para poner el flex en columna*/
    flex-direction: column;
}

.content-center{
    justify-content: center; /*Para poner los dives u otros elementos en el centro*/
}

.align-center{
    align-items: center; /*Para poner los elementos al centro*/
}

.text-start{ /*Poner el texto al principio*/
    text-align: start;
}

.flex-wrap{
    flex-wrap: wrap;
}

h1{  /*Unico titulo, le pones fuente de familia similar i un tamaño parecido*/
    font-size: 5rem;
    font-family: sans-serif;
    text-align: center;
} 

h2{ /*Para todos los subtitulos*/
    color: #FFFFFF; /*Color de texto*/
    background-color: #6081a3; /*Fondo de color al h2*/
    text-align: start; /*Alinear el texto al principio y no al medio*/
    font-size: 0.8rem; /*Poner un tamaño de fuente*/
    font-weight: normal;/*Que no tenga tamaño / bold*/
    font-family: sans-serif; /*Fuente de familia parecida al del formulario del papel*/
    padding: 0.3rem; /*Espacio interior*/
    padding-right: 25rem; /*Para espaciar el h2*/
    width: 11rem; /*Tamaño maximo del h2*/
}

.clearblue{ /*Un fondo azul para el formulario*/
    background-color: #DDEEFF;
}

label, p{ /*Los labels tienen familia i un tamaño pequeño igual que la imagen i el p.*/
    font-family: sans-serif;
    font-size: 0.7rem; 
}

.form-width{ /*Para poner un tamaño al form*/
    width: 35rem;
}

.form-margin{ /*Para poner margenes entre divs*/
    margin: 0.4rem;
}

.gap{ /*Para hacer una separación entre divs con flex*/
    gap: 0.4rem;
}

.border{ /*Para poner un borde del color del formulario*/
    border: 2px solid rgb(106, 152, 219);
}

.margin{ /*Para poner margenes horizontalmente a los divs*/
    margin: 0 1.2rem;
}